{% extends "layout.html" %} {% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-8 text-center txt">
    <h1>How to Crochet</h1>
    <p class="lead lg-txt">
      Discover the joy of crocheting. Learn stitches, techniques, and create
      beautiful patterns!
    </p>
    <div class="navigation">
      <a class="btn accent white-txt txt" href="/learn/1">Start Learning</a>
      <a class="btn accent white-txt txt" href="/quiz">Quiz yourself</a>
    </div>
  </div>
</div>
{% endblock %}
