<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}How to Crochet{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body class="bg">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand txt" href="{{ url_for('home') }}">Home</a>
      <div class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle txt"
          href="#"
          id="navbarDropdown1"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Getting Started
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
          <li><a class="dropdown-item txt" href="{{ url_for('learn', lesson_id=1) }}">Intro</a></li>
          <li><a class="dropdown-item txt" href="{{ url_for('learn', lesson_id=2) }}">Making a Slip Knot</a></li>
          <li><a class="dropdown-item txt" href="{{ url_for('learn', lesson_id=3) }}">Holding the Yarn</a></li>
          <li><a class="dropdown-item txt" href="{{ url_for('learn', lesson_id=4) }}">Starting a Chain</a></li>
          <li><a class="dropdown-item txt" href="{{ url_for('learn', lesson_id=5) }}">Crocheting into the Next Stitches</a></li>
        </ul>
      </div>
      <div class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle txt"
          href="#"
          id="navbarDropdown2"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Knots
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <li><a class="dropdown-item txt" href="{{ url_for('learn', lesson_id=6) }}">Single Crochet</a></li>
          <li><a class="dropdown-item txt" href="{{ url_for('learn', lesson_id=7) }}">Half-Double Crochet</a></li>
          <li><a class="dropdown-item txt" href="{{ url_for('learn', lesson_id=8) }}">Double Crochet</a></li>
        </ul>
      </div>
      <a class="navbar-brand txt" href="{{ url_for('quiz') }}">Quiz</a>
    </div>
  </nav>

  <div class="container">
    <main>{% block content %}{% endblock %}</main>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


