{% extends "layout.html" %} {% block title %} {{ lesson['title'] }} {% endblock
%} {% block content %}
<div class="lesson-content">
  <h2>{{ lesson['title'] }}</h2>

  {% if lesson['steps'] %} {% for step_id, step in lesson['steps'].items() %}
  <div class="step">
    <div class="row">
      <div class="col-md-4">
        {% for substep in step['description'] %}
        <div class="row">
          <p>{{ substep }}</p>
        </div>
        {% endfor %}
      </div>
      <div class="col-md-8">
        {% if step['image'] %}
        <img src="{{ step['image'] }}" alt="Step Image" />
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %} {% else %}
  <p>{{ lesson['steps']['description'] }}</p>
  {% if lesson['steps']['image'] %}
  <img src="{{ lesson['steps']['image'] }}" alt="Step Image" />
  {% endif %} {% endif %}

  <div class="navigation">
    {% if lesson['id'] > 1 %}
    <button
      onclick="window.location.href = '{{ url_for('learn', lesson_id=lesson['id'] - 1) }}'"
    >
      Previous
    </button>
    {% else %}
    <button onclick="window.location.href = '/'">Go to Home</button>
    {% endif %} {% if lesson['id'] < max_lesson_id %}
    <button
      onclick="window.location.href = '{{ url_for('learn', lesson_id=lesson['id'] + 1) }}'"
    >
      Next
    </button>
    {% else %}
    <button
      onclick="window.location.href = '{{ url_for('quiz', question_id=1) }}'"
    >
      Start Quiz
    </button>
    {% endif %}
  </div>
</div>
{% endblock %}
