{% extends "layout.html" %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4">Answer the following questions (2/6)</h1>

      <form
        id="quizForm3"
        action="{{ url_for('submit_quiz', quiz_id=3) }}"
        method="post"
        class="quiz-container quiz-form-padding"
      >
        <div class="mb-4">
          <p class="quiz-question">What kind of knot is this?</p>
          <ul>
            {% for step_num, step_data in steps.items() %} {% if not loop.last
            %}
            <li>
              {% for substep in step_data['description'] %} {{ substep }} {%
              endfor %}
            </li>
            {% endif %} {% endfor %}
          </ul>
          <div class="form-check">
            <input
              class="form-check-input quiz-option-input"
              type="radio"
              name="question1"
              id="slip"
              value="Slip knot"
            />
            <label class="form-check-label quiz-option-label" for="slip">
              Slip knot
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input quiz-option-input"
              type="radio"
              name="question1"
              id="single"
              value="Single crochet"
            />
            <label class="form-check-label quiz-option-label" for="single">
              Single crochet
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input quiz-option-input"
              type="radio"
              name="question1"
              id="half"
              value="Half double crochet"
            />
            <label class="form-check-label quiz-option-label" for="half">
              Half double crochet
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input quiz-option-input"
              type="radio"
              name="question1"
              id="double"
              value="Double crochet"
            />
            <label class="form-check-label quiz-option-label" for="double">
              Double crochet
            </label>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <a href="{{ url_for('home') }}" class="btn quiz-btn-secondary"
            >Home</a
          >

          <div class="space-mt"></div>

          <button type="submit" class="btn quiz-btn-primary">Next</button>
        </div>
      </form>
    </div>
  </div>
  <div
    id="messageBox"
    class="alert"
    style="position: fixed; bottom: 20px; right: 20px; display: none"
  ></div>
</div>

<script>
  document.getElementById("quizForm3").onsubmit = function (event) {
    event.preventDefault();
    var form = this;
    fetch(form.action, {
      method: "POST",
      body: new FormData(form),
    })
      .then((response) => response.json())
      .then((data) => {
        var messageBox = document.getElementById("messageBox");
        if (data.correct) {
          messageBox.className = "alert alert-success";
          messageBox.textContent = "Correct! Redirecting...";
          messageBox.style.display = "block";
          setTimeout(() => (window.location.href = data.next_url), 2000);
        } else {
          messageBox.className = "alert alert-danger";
          messageBox.textContent = "Incorrect, try again!";
          messageBox.style.display = "block";
        }
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  };
</script>
{% endblock %}