{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">What kind of knot is this?</h1>
    <div class="space-top"></div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <ul>
                <li>Sweep the yarn over your hook</li>
                <li>Insert your hook into the stitch, grab the yarn, and bring it through</li>
                <li>Sweep the yarn over, and pull it through the first two loops on your hook only</li>
                <li>Sweep the yarn over again, and pull it through the two loops on your hook</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <form action="/submit_knot_type" method="post">
                <div class="form-group mb-2">
                    <input type="text" name="knotTypeAnswer" class="form-control" placeholder="Enter knot type">
                </div>
                <button type="submit" class="btn btn-grey">Submit</button>  <!-- Updated class here -->
            </form>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-8 d-flex justify-content-between align-items-center">
            <button class="btn quiz-btn-secondary" onclick="location.href='{{ url_for('quiz2') }}'">Previous</button>
            <div class="space-mt"></div>
            <button class="btn quiz-btn-primary" onclick="location.href='{{ url_for('quiz4') }}'">Next</button>
        </div>
    </div>

</div>
{% endblock %}


<!-- answer is Double crochet -->